@use "../colors" as *;
@use "../sizingutils" as *;
@use "../fonts";
@use "sass:color";

#leaderboard-container {
  height: 100%;
  margin-top: $header-height;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: $span-center;
    display: flex;
  }

  .banner {
    width: 100%;
    background-color: $secondary-bg;
    display: grid;
    place-items: center;
    border-top: solid 1px $tertiary-bg;
    border-bottom: solid 1px $tertiary-bg;

    margin-bottom: 3rem;
  }

  .innerWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: clamp(800px, 50%, 400px);
  }

  h1 {
    font-family: fonts.$serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
    margin: 1.5rem 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: -10%;
      left: -10%;
      bottom: -0.25rem;
      height: 1px;
      background-color: color.adjust($text-dark, $alpha: -0.5);
    }
  }

  table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
  }

  thead {
    background-color: $tertiary-bg;
  }

  th {
    font-family: fonts.$sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.75rem 0;
    color: $text-light;

    &:first-child {
      width: 10px;
      border-radius: 10px 0 0 0;
      padding-left: 3rem;
    }

    &:last-child {
      min-width: 10px;
      border-radius: 0 10px 0 0;
    }
  }

  tbody {
    tr {
      background-color: color.adjust(
        $secondary-bg,
        $lightness: -5,
        $saturation: -30
      );
      font-weight: 500;
      font-size: 1rem;
      vertical-align: center;
    }

    tr:nth-child(odd) {
      background-color: $secondary-bg;
    }

    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 10px;
      }
      td:last-child {
        border-radius: 0 0 10px 0;
      }
    }

    .rank {
      font-weight: 600;
    }

    button {
      padding: 0.5rem 0.75rem;
      border: none;
      background-color: $accent-dark;
      color: $text-light;
      cursor: pointer;
      transition: background-color ease 0.2s;

      &:hover {
        background-color: color.adjust($accent-dark, $lightness: 10);
      }
    }

    .td {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      overflow-x: hidden;

      height: clamp(70px, 7vh, 100px);
      width: auto;

      &.user {
        cursor: pointer;
      }
    }

    .imgwrap {
      background-color: $accent-light;
      border-radius: 50%;
      border: 2px solid $text-dark;
      padding: 5px;
      height: 50px;
      width: 50px;
      min-width: 50px;
      display: grid;
      place-items: center;

      img {
        max-height: 90%;
      }
    }
  }
}
