// global colors
// @use this file for access to colors

// ex: @use 'colors' -> background-color: $color.main-bg
// ex: @use 'colors' as * -> background-color: $main-bg (no namespacing)
$accent-dark: #37454F;
$accent-medium: #DD8281;
$accent-light: #D6EDFF;

$main-bg: #FFF9F0;
$secondary-bg: #FFEFD6;
$tertiary-bg: #8C7E68;

$border-dark: $tertiary-bg;

$text-dark: #333;
$text-light: $main-bg;