// IMPORTS START HERE

@use "sass:color";
@use "colors" as *;
@use "sizingutils";
@use "header/header";
@use "landing/landing";
@use "auth/auth";
@use "home/home";
@use "leaderboards/leaderboards";
@use "profile/profile";

// END OF IMPORTS


// The following is global styling options. Additional .scss files can be created with
// additional style rules for other components of the site and included using the above syntax.
// This will help modularize our project so that each individual can work on their own portions
// without interfering with each other. If you create new style rules, simply come here and include
// them in the above section. Also take note of the global styles so you aren't confused as to why
// certain things are behaving the way they are (for example the color on <a>'s)
// This functionality specifically requires using Dart Sass (rather than node-sass)
// The popular VS Code extension "Live Sass Compiler" uses node-sass, so use the alternative
// "dartsass" extension while working on this

// read more about it here: https://sass-lang.com/documentation/at-rules/use
// more on the path parameter for @use : https://sass-lang.com/documentation/at-rules/use#finding-the-module


// GLOBAL LAYOUT CONFIG START
body {
  height: 100vh;
  font-size: 16px;
  overflow-y: hidden;

  /*The following addresses a bug in how iOS handles the vh unit*/
  height: stretch;

  background-color: $main-bg;
  font-family: "Poppins", sans-serif;
}

#app {
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.0);
}

/*This also is needed to address the iOS issue*/
html {
  height: stretch;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

a {
  position: relative;
  color: $text-dark;
}

.layout-wrap {
  display: flex;
  background-color: rgba($color: #ffffff, $alpha: 0.0);
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
  *:not(#_threejs_container) {
    z-index: 5;
  }
}

.button, .btn {
  border-radius: 10px;
}

.separator {
  width: auto;
  height: 1px;
  background-color: color.adjust($tertiary-bg, $alpha: -0.7);
  margin: 1.5rem 0;
}

.underline_animate::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $text-dark;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline_animate:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}