header.header {
  position: absolute;
  z-index: 50;
  width: 100%;
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: 1fr clamp(100px, 80%, 1500px) 1fr;
  grid-template-rows: 100%;
  height: clamp(100px, 10%, 20px);
}

.navcontent {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navcontent .brandWrapper {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.navcontent .brandWrapper h3 {
  margin-left: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2rem;
}
.navcontent img {
  max-height: 50%;
}
.navcontent .buttons {
  height: 100%;
  width: auto;
}
.navcontent .buttons > a {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.landing {
  display: grid;
  pointer-events: none;
  grid-template-columns: 1fr clamp(100px, 80%, 1500px) 1fr;
  grid-template-rows: 1fr clamp(400px, 50%, 1000px) 1fr;
  height: 100%;
}

.hero {
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  grid-column: 2/3;
  grid-row: 2/3;
}
.hero h1 {
  font-size: 5rem;
  color: #333;
  position: relative;
  width: 100%;
  font-family: "Playfair Display", serif;
}
.hero h1::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.7;
  background-color: gray;
}
.hero img {
  max-height: 100%;
  max-width: 40%;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-wrap {
  align-self: center;
  transform: scale(1.05);
  position: relative;
}

.transparency-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  pointer-events: none;
  background: #fff9f0;
  background: -moz-linear-gradient(0deg, rgba(255, 249, 240, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 249, 240, 0.7483368347) 50%, #fff9f0 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 249, 240, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 249, 240, 0.7483368347) 50%, #fff9f0 100%);
  background: linear-gradient(0deg, rgba(255, 249, 240, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 249, 240, 0.7483368347) 50%, #fff9f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff9f0",endColorstr="#fff9f0",GradientType=1);
}

#board g {
  transition: all 0.2s ease-in-out;
  transform: none;
}
#board .lift {
  z-index: 5;
  border: 1px solid #37454F;
  transform: translatey(-30px);
}

#auth-container {
  background-color: #FFEFD6;
  font-family: "Poppins", sans-serif;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid 1px #b9b0a1;
  max-width: 80%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 2rem;
}
#auth-container .disabled {
  display: none;
}
#auth-container h1 {
  font-size: 2rem;
  font-weight: 500;
}
#auth-container label.label:nth-of-type(1) {
  margin-top: 1rem;
}
#auth-container label.label {
  font-weight: 500;
  font-size: 1.125rem;
}
#auth-container .button.primary {
  margin-top: 2rem;
  width: 100%;
  background-color: #37454F;
  color: #FFF9F0;
  border: 1px solid #37454F;
  transition: all linear 0.2s;
}
#auth-container .button.primary:hover {
  background-color: #566c7c;
}
#auth-container .button.secondary {
  width: 100%;
  background-color: #8C7E68;
  color: #FFF9F0;
  border: 1px solid #8C7E68;
  margin: 0;
  transition: all linear 0.2s;
}
#auth-container .button.secondary:hover {
  background-color: #a39784;
}
#auth-container input.input {
  background-color: #f2e2ca;
  border: solid 1px #b9b0a1;
  transition: all linear 0.1s;
}
#auth-container input.input:focus, #auth-container input.input:active {
  outline: none;
  border: solid 1px #8C7E68;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #FFEFD6;
}

#home {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
#home main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#home .banner {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  text-align: center;
}
#home .banner #bn {
  transform: scaleX(-1);
}
#home h1 {
  margin: 0 4rem;
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
}
#home h1::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333;
}
#home .menuLink {
  cursor: pointer;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.45rem;
  font-weight: 300;
  margin: 0.5rem 0;
}
#home .disabled {
  color: rgba(51, 51, 51, 0.5);
  cursor: not-allowed;
}
#home .disabled::after, #home .disabled::before {
  display: none;
}

#leaderboard-container {
  height: 100%;
  margin-top: clamp(100px, 10%, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#leaderboard-container .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: clamp(100px, 80%, 1500px);
  display: flex;
}
#leaderboard-container .banner {
  width: 100%;
  background-color: #FFEFD6;
  display: grid;
  place-items: center;
  border-top: solid 1px #8C7E68;
  border-bottom: solid 1px #8C7E68;
  margin-bottom: 3rem;
}
#leaderboard-container .innerWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: clamp(800px, 50%, 400px);
}
#leaderboard-container h1 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  margin: 1.5rem 0;
  position: relative;
}
#leaderboard-container h1::after {
  content: "";
  position: absolute;
  right: -10%;
  left: -10%;
  bottom: -0.25rem;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.5);
}
#leaderboard-container table {
  width: 100%;
  text-align: center;
}
#leaderboard-container thead {
  background-color: #8C7E68;
}
#leaderboard-container th {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.75rem 0;
  color: #FFF9F0;
}
#leaderboard-container th:first-child {
  border-radius: 10px 0 0 0;
}
#leaderboard-container th:last-child {
  border-radius: 0 10px 0 0;
}
#leaderboard-container tbody tr {
  background-color: #f5e3c6;
  font-weight: 500;
  font-size: 1rem;
  vertical-align: center;
}
#leaderboard-container tbody tr:nth-child(odd) {
  background-color: #FFEFD6;
}
#leaderboard-container tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
#leaderboard-container tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
#leaderboard-container tbody .rank {
  font-weight: 600;
}
#leaderboard-container tbody button {
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: #37454F;
  color: #FFF9F0;
  cursor: pointer;
  transition: background-color ease 0.2s;
}
#leaderboard-container tbody button:hover {
  background-color: #4c5f6d;
}
#leaderboard-container tbody .td {
  display: grid;
  place-items: center;
  min-height: 4rem;
}

#profile {
  height: 100%;
  margin-top: clamp(100px, 10%, 20px);
}
#profile .bg {
  background-color: #FFEFD6;
}
#profile .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: clamp(100px, 80%, 1500px);
  margin: 0 auto;
}
#profile .info {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-radius: 1rem;
}
#profile label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #D6EDFF;
  border: 2px solid #37454F;
}
#profile label img {
  margin: auto auto;
  height: 70%;
  width: 70%;
}
#profile .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
#profile .text .username {
  font-size: 3.2rem;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  position: relative;
}
#profile .text .username::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0rem;
  left: 0;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.5);
}
#profile .text .status {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
#profile .buttons {
  margin-left: auto;
}
#profile .buttons button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #37454F;
  color: #FFF9F0;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  margin-left: 1rem;
  border-radius: 0.8rem;
  transition: background-color ease 0.2s;
}
#profile .buttons button:hover {
  background-color: #4c5f6d;
}
#profile .buttons button:nth-child(2) {
  background-color: #8C7E68;
}
#profile .buttons button:nth-child(2):hover {
  background-color: #988b75;
}
#profile .buttons button:disabled {
  background-color: #8C7E68;
}
#profile .charts {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  margin-top: 3rem;
}
#profile .charts div {
  width: 57%;
  min-height: 300px;
  padding: 1rem;
  background-color: #37454F;
  color: #FFF9F0;
  text-align: center;
  border-radius: 10px;
}
#profile .charts div:last-child {
  width: 40%;
}
#profile .match-history {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  background-color: #37454F;
}
#profile .charts, #profile .match-history {
  transition: all 0.4s ease-in-out;
}
#profile .visible {
  opacity: 100%;
  transition-delay: 0.4s;
  pointer-events: all;
}
#profile .hide {
  opacity: 0%;
  pointer-events: none;
}

#game-container {
  width: clamp(100px, 80%, 1500px);
}

body {
  height: 100vh;
  font-size: 16px;
  overflow-y: hidden;
  /*The following addresses a bug in how iOS handles the vh unit*/
  height: stretch;
  background-color: #FFF9F0;
  font-family: "Poppins", sans-serif;
}

#app {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

/*This also is needed to address the iOS issue*/
html {
  height: stretch;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

a {
  position: relative;
  color: #333;
}

.layout-wrap {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.layout-wrap *:not(#_threejs_container) {
  z-index: 5;
}

.button,
.btn {
  border-radius: 10px;
}

.separator {
  width: auto;
  height: 1px;
  background-color: rgba(140, 126, 104, 0.3);
  margin: 1.5rem 0;
}

.underline_animate::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline_animate:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*# sourceMappingURL=style.css.map */
