@use "../colors" as *;
@use "../fonts" as *;
@use "../sizingutils" as *;
@use "sass:color";

#profile {
  height: 100%;
  margin-top: $header-height;

    .bg {
        background-color: $secondary-bg;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        max-width: $span-center;

        margin: 0 auto;
    }

    .info {
        display: flex;
        align-items: center;
        padding: 1rem 0;

        border-radius: 1rem;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            margin: auto 0;
            border-radius: 50%;
            border: 1px solid $accent-dark;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 1rem;

        .username {
            font-size: 2rem;
            font-family: $serif;
            font-weight: 600;
        }
    }

    .buttons {
        margin-left: auto;

        button {
            border: none;
            outline: none;
            cursor: pointer;
            background-color: $accent-dark;
            color: $text-light;
            font-family: inherit;
            font-size: 1rem;
            padding: 0.75rem 1.5rem;
            margin-left: 1rem;
            border-radius: 0.8rem;
        }

        button:disabled {
            background-color: $tertiary-bg;
        }
    }

    .charts {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        div {
            width: 50%;
            min-height: 300px;
            padding: 1rem;
            margin-top: 1rem;
            background-color: $accent-dark;
            color: $text-light;
            text-align: center;
            border-radius: 1rem;
        }
        div:first-child {
            margin-right: 1rem;
        }
    }
}
