@use "../colors" as *;
@use "../fonts" as *;
@use "../sizingutils" as *;
@use "sass:color";

@use "ingamechat";

#game-container {
  width: $span-center;
  margin: auto;

  .wrap {
    display: flex;
    justify-content: space-between;
  }

  #game-chat {
    width: 47.5%;
    min-height: 300px;
    background-color: burlywood;
  }

  #game-board {
    width: 45%;
    min-height: 300px;
    background-color: burlywood;
  }
}
