@use "../colors" as *;
@use "../fonts" as *;
@use "../sizingutils" as *;
@use "sass:color";

@use "ingamechat";
@use "board";

#game-container {
  width: $span-center;
  margin: auto;

  .wrap {
    display: flex;
    justify-content: space-between;
  }

  #game-chat {
    width: 50%;
    height: auto;
    max-height: 60vh;
    position: relative;
    background-color: $secondary-bg;
    border-radius: 15px;
    border: 1px $tertiary-bg solid;
  }

  #game-board {
    width: 45%;
    display: grid;
    place-items: center;
  }
}
