@use "../colors" as *;
@use "../fonts";
@use "sass:color";

#auth-container {
  background-color: $secondary-bg;
  font-family: fonts.$sans-serif;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  border: solid 1px color.adjust($border-dark, $lightness: 20);
  max-width: 80%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 2rem;

  .disabled {
    display: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  label.label:nth-of-type(1) {
    margin-top: 1rem;
  }

  label.label {
    font-weight: 500;
    font-size: 1.125rem;
  }

  .button.primary {
    width: 100%;
    background-color: $accent-dark;
    color: $text-light;
    border: 1px solid $accent-dark;

    &:hover {
      background-color: color.adjust($accent-dark, $lightness: 15);
      // color: $accent-dark;
    }

    transition: all linear 0.2s;
  }

  .button.secondary {
    width: 100%;
    background-color: $tertiary-bg;
    color: $text-light;
    border: 1px solid $tertiary-bg;
    margin: 0;

    &:hover {
      background-color: color.adjust($tertiary-bg, $lightness: 10);
    }

    transition: all linear 0.2s;
  }

  input.input {
    background-color: color.adjust(
      $secondary-bg,
      $lightness: -5,
      $saturation: -40
    );
    border: solid 1px color.adjust($border-dark, $lightness: 20);

    &:focus,
    &:active {
      outline: none;
      border: solid 1px $tertiary-bg;
      -webkit-box-shadow: none;
      box-shadow: none;

      background-color: $secondary-bg;
    }

    transition: all linear 0.1s;
  }

  .control.btns {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }
}
