@use "../sizingutils";
@use "../colors" as *;

header.header {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: 1fr sizingutils.$span-center 1fr;
  grid-template-rows: 100%;

  height: sizingutils.$header-height;
}

.navcontent {
  grid-area: content;
  align-self: center;
  justify-self: end;

  .buttons {
    height: 100%;
    width: auto;

    > a {
      margin: 0 1rem;
      font-size: 1.2rem;
    }

    > a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $text-dark;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.15s ease-out;
    }

    > a:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}